services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=lambda,apigateway,logs,dynamodb,sqs,ssm
      - AWS_DEFAULT_REGION=us-east-1
      - DEBUG=1
      - LAMBDA_DOCKER_NETWORK=cloud-ia_appnet
      - LAMBDA_DEFAULT_TIMEOUT=10
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks: [appnet]

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks: [appnet]

volumes:
  redis-data:
    driver: local


networks:
  appnet:
    driver: bridge